name: Release

on:
  push:
    branches:
      - main


env:
  PLUGIN_NAME: bae-i4trust-service


jobs:
  
  generate-version:
    name: Generate version
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.out.outputs.version }}

    steps:
      - uses: actions/checkout@v2

      - id: pr
        uses: actions-ecosystem/action-get-merged-pull-request@v1.0.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: zwaldowski/semver-release-action@v2
        with:
          dry_run: true
          bump: ${{ steps.pr.outputs.labels }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version output
        id: out
        run: echo "::set-output name=version::$(echo ${VERSION})"


  release:
    name: Zip and Release
    needs: ["generate-version"]
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Set version
        run:
          jq '.version = $newVersion' --arg newVersion ${{ needs.generate-version.outputs.version }} vc-data-service/package.json > vc-data-service/tmp.package.json && mv vc-data-service/tmp.package.json vc-data-service/package.json    
          jq '.version = $newVersion' --arg newVersion ${{ needs.generate-version.outputs.version }} i4trust-data-service/package.json > i4trust-data-service/tmp.package.json && mv i4trust-data-service/tmp.package.json i4trust-data-service/package.json    

      - name: Echo update
        run:
          cat vc-data-service/package.json
          cat i4trust-data-service/package.json

      - name: Zip plugin i4trust
        run: |
          zip bae-i4trust-service_${{ needs.generate-version.outputs.version }}.zip i4trust-data-service/package.json i4trust-data-service/i4trust_service.py

      - name: Zip plugin vc
        run: |
          zip bae-vc-service_${{ needs.generate-version.outputs.version }}.zip vc-data-service/package.json vc-data-service/i4trust_service.py

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ needs.generate-version.outputs.version }}
          prerelease: true
          title: ${{ needs.generate-version.outputs.version }}
          files: |
             bae-i4trust-service_${{ needs.generate-version.outputs.version }}.zip
             bae-vc-service_${{ needs.generate-version.outputs.version }}.zip
